.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.containerImage {
  position: relative;
  width: 26.9rem;
  height: 19.8rem;
  margin: 4.4rem auto 4.8rem;
}

.formContainer {
  width: 100%;
}

.containerPhoneInputAndEmailInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.containerInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4rem;
  max-width: 62rem;
}

.label {
  font-weight: 700;
  font-size: 1.4rem;
  font-family: var(--nunito-sans);
  line-height: 1.4rem;
  margin-bottom: 1.2rem;
  color: #fff;
}

.input {
  padding: 1.2rem 0.8rem;
  height: 3.6rem;
  outline: none;
}

.errorMessage {
  padding-top: 0.5rem;
  font-weight: 500;
  font-size: 1.4rem;
  font-family: var(--nunito-sans);
  line-height: 2.4rem;
  color: #000;
}

@media (min-width: 768px) {
  .containerPhoneInputAndEmailInput {
    justify-content: center;
  }

  .form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .containerInput {
    max-width: unset;
  }
}

@media (min-width: 1024px) {
  .containerImage {
    min-width: 47.1rem;
    height: 34.7rem;
  }
}

@media (min-width: 1220px) {
  .container {
    flex-direction: row;
    margin-top: 4.4rem;
  }

  .containerImage {
    margin: unset;
  }

  .formContainer {
    max-width: 62rem;
    margin-left: 19rem;
  }

  .containerPhoneInputAndEmailInput {
    flex-direction: row;
  }

  .containerInputPhone {
    max-width: 29.1rem;
  }

  .containerInputEmail {
    max-width: 28.9rem;
    margin-left: 4rem;
  }
}
