.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imageStyle {
  margin: 4.4rem auto 4.8rem;
}

.formContainer {
  width: 100%;
}

.containerPhoneInputAndEmailInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.containerInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4rem;
  max-width: 62rem;
}

.label {
  font-weight: 700;
  font-size: 1.4rem;
  font-family: "Nunito Sans";
  line-height: 1.4rem;
  margin-bottom: 1.2rem;
  color: #fff;
}

.input {
  padding: 1.2rem 0.8rem;
  height: 3.6rem;
  outline: none;
}

.errorMessage {
  padding-top: 0.5rem;
  font-weight: 500;
  font-size: 1.4rem;
  font-family: "Nunito Sans";
  line-height: 2.4rem;
  color: #d22367;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.8rem;
  background-color: #f2bf4e;
  color: #000;
  margin-top: 3.2rem;
  outline: none;
  border: 0.1rem solid #100c27;
  position: relative;
}

.button::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(100% + 0.1rem);
  left: calc(0% - 0.1rem);
  width: calc(100% + (2 * 0.1rem));
  border-top: 4px solid #000;
  border-left: 8px solid rgba(0, 0, 0, 0);
  border-right: 8px solid rgba(0, 0, 0, 0);
  height: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.buttonText {
  margin-right: 1.2rem;
  font-weight: 800;
  font-family: "Nunito Sans";
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: 0.02rem;
}

@media (min-width: 768px) {
  .containerPhoneInputAndEmailInput {
    justify-content: center;
  }

  .form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .containerInput {
    max-width: unset;
  }
}

@media (min-width: 1220px) {
  .container {
    flex-direction: row;
    margin-top: 4.4rem;
  }

  .imageStyle {
    margin: unset;
    margin-right: 19rem;
  }

  .formContainer {
    max-width: 62rem;
  }

  .containerPhoneInputAndEmailInput {
    flex-direction: row;
  }

  .containerInputPhone {
    max-width: 29.1rem;
  }

  .containerInputEmail {
    max-width: 28.9rem;
    margin-left: 4rem;
  }
}
