.containerTitleAndSubtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 2.39rem;
  line-height: 3.175rem;
  font-family: var(--red-hat-display);
  color: #fff;
}

.subtitle {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: var(--nunito-sans);
  color: #fff;
  margin-top: 1.5rem;
  width: 31.3rem;
}

@media (min-width: 1024px) {
  .title {
    font-size: 4rem;
    line-height: 5.292rem;
  }

  .subtitle {
    font-size: 2rem;
    line-height: 2.8rem;
    width: 62.1rem;
  }
}
